<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>기본 템플릿</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <!-- 머스태시를 통해서 공통되는 navbar(메뉴바)의 코드를 줄인다. -->
		{{> /navbar/common-navbar}}


	{{#login}}   <!-- =user -->
    <center><h3>Hello! {{getUserName}}</h3></center>
	{{/login}}
	
	<br/><br/><br/>
	<div class="container">
		<div class="item active">
			<center><img class="slide-image" src="/img/banner.jpg" alt="" style="height: 500px; right: 200%;"></center>
		</div>
	</div>
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
  </body>
</html>